.Best_caregiver_img_container {
    display: flex;
}

.Best_caregiver_container {
    flex: 1;
    /* background-color: #f0f0f0; */
}

.Best_caregiver_img_container {
    flex: 1;
    /* background-color: #e0e0e0; */
}

.Best_care {
    font-family: Source Serif Pro;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #0C2F62;
}

.Best_care_part {
    color: #0072C6;
    font-weight: bold;
    font-style: italic;
}

.caregiver_description {
    font-family: Source Sans Pro;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #797979;
    width: 493px;
}
.Best_caregiver_img_container img{
    width: 90%;
}