
.color-box {
    width: 100px;
    height: 100px;
    background-color: #581845;
    animation-name: example;
    animation-duration: 7s;
  
    
  }

@keyframes example {
    0% {background-color: #1d4851;}
     33% {background-color: #9ab5bc;}
    66% {background-color: #ff9001;}
     100% {background-color:#ff4701;}
  }