.Footer_container {
    display: flex;
}

.footerLeft_section {
    flex: 1;
    /* background-color: #f0f0f0; */
    color: #ffffffba;
}

.footerRight_section {
    flex: 2;
    /* background-color: #e0e0e0; */
    border-left: 1px solid white;
}

.image_container_footer {
    position: relative;
}

.overlay_footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px 38px 0 38px;
}

.overlay_footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.overlay_footer p {
    font-size: 1.2rem;
    text-align: center;
    max-width: 80%;
}

.image_container_footer img {
    width: 100%;
}

.log img {
    width: 101px;
    /* height: 115px; */
}

.footer_left_content1 {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffffba;
}

.footer_left_content2 {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffffba;
}

.contact_us {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffffba;
}

.Number_email_section span {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffffba;
}

.grid-container_footer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
}

.grid-item_footer {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 0 20px;
    font-size: 30px;
    text-align: center;
}

.footer_Right_content_container {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffffba;
}

.footer_Right_content_heading1 {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.footer_horizontal_line {
    opacity: .75;
}

.terms {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffffba;
}

.rights_reserved {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffffba;
}

.Social_apps_icons button{
    border: none;
    background: white;
    border-radius: 29px;
    color: #0C2F62;
    padding: 0px 5px;
    margin: 5px;
    font-size: 16px;
}



/* Media queries start */

@media screen and (min-width:300px) and (max-width:576px) {
    .image_container_footer img {
        width: 100%;
        height: 105rem;
    }
    .log img {
        width: 34%;
        height: 26px;
    }

    .Footer_container {
        display: flex;
        flex-direction: column;
    }

    .grid-container_footer {
        display: grid;
        grid-template-columns: 121px 121px;
        /* background-color: #2196F3; */
        padding: 10px 0;
    }

    .overlay_footer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 20px 20px 0 20px;
    }

    .grid-item_footer {
        /* background-color: rgba(255, 255, 255, 0.8); */
        /* border: 1px solid rgba(0, 0, 0, 0.8); */
        padding: 0 0px;
        font-size: 30px;
        text-align: center;
    }

    .footerRight_section {
        flex: 2;
        /* background-color: #e0e0e0; */
        border-left: none;
    }


}
/* Media queries end */
