.frequently_content {
    font-family: Source Serif Pro;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #0072C6;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 26px;
    color: #565656;
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.accordion-body {
    font-family: Source Sans Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #565656;

}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
    margin-bottom: 25px;
}
.MTF{
    margin-top: 50px;
}


/* css for 2nd page start */

.Resources_for_you{
    font-family: Source Serif Pro;
font-size: 36px;
font-weight: 600;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
color: #0C2F62;
margin: 20px 0;

}

.link_1{
    font-family: Source Serif Pro;
font-size: 22px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
color: #383838;
}

.Link_container_flex{
    background: #F5F5F5;
    border-radius: 4px;
    padding: 6px 24px 6px 0;
}

.link_1_container{
    text-decoration: none;
    margin: 15px 0;
    display: block;
}
.greater_than_icon span{
    font-size: 11px;
    color: #939393;
}

.link1_icon{
    background: #C8A0F1;
    padding: 0px 7px;
    border-radius: 31px;
}

.link2_icon{
    background: #BACE33;
    padding: 0px 7px;
    border-radius: 31px;
}

.link3_icon{
    background: #E69700;
    padding: 0px 7px;
    border-radius: 31px;
}

/* css for 2nd page end */


/* Media queries start */

@media screen and (min-width:300px) and (max-width:576px) {
    .frequently_content {
        font-family: Source Serif Pro;
        font-size: 20px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        color: #0072C6;
    }


    .accordion-button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
        font-size: 16px;
        color: #565656;
        text-align: left;
        background-color: var(--bs-accordion-btn-bg);
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: var(--bs-accordion-transition);
        font-family: Source Sans Pro;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;

    }

    .accordion-body {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #565656;

    }

    .accordion-item {
        color: var(--bs-accordion-color);
        background-color: var(--bs-accordion-bg);
        border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
        margin-bottom: 25px;
    }

    .Link_container_flex {
        background: #F5F5F5;
        border-radius: 4px;
        padding: 6px 7px 6px 0;
    }
    .link_1 {
        font-family: Source Serif Pro;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        color: #383838;
    }
}


@media screen and (min-width:576px) and (max-width:768px) {
    .frequently_content {
        font-family: Source Serif Pro;
        font-size: 22px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        color: #0072C6;
    }


    .accordion-button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
        font-size: 18px;
        color: #565656;
        text-align: left;
        background-color: var(--bs-accordion-btn-bg);
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: var(--bs-accordion-transition);
        font-family: Source Sans Pro;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;

    }

    .accordion-body {
        font-family: Source Sans Pro;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #565656;

    }

    .accordion-item {
        color: var(--bs-accordion-color);
        background-color: var(--bs-accordion-bg);
        border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
        margin-bottom: 25px;
    }
}

/* Media queries end */